body
{
	margin:0;
	padding:0;
	background-color:#F781D8;
	text-align:center;
}
@font-face
{
	font-family: "policeformulaire"; src: url('polices/Cardenio Modern Bold.ttf');
	
	
}

@font-face
{
	font-family: "police"; src: url('Big_Bottom_Typeface_Normal.ttf');
	
}
#adminHaut
{
	/*position: absolute;*/
	top:203px;

	width:100%;
	height:120px;
	/*border: 1px gray solid;*/
	background-color:purple;
}
#titreSectionAdm
{

	text-align:center;
	color:white;
	font-size:200%;
	font-family:police;
}
#deconnectionAdm
{
	height:90px; width:200px;
	border:2px gray solid;
	border-radius:5px;
	background-color:#D0A9F5;
	/*background-color:#F7819F;*/
	font-family:policeformulaire;
	font-size:200%;
	margin-left:40%;
}
#deconnectionAdm:hover
{
	background-color:#BE81F7;
	/*background-color:#FA5882;*/
	color:white;
}
#deconnectionAdm:active
{
	background-color:#AC58FA;
	/*background-color:#FE2E64;*/
	color:white;
}
#btnAjouterAnimal
{
	height:130px; width:240px;
	border:2px gray solid;
	border-radius:5px;
	background-color:#F7819F;
	font-family:policeformulaire;
	font-size:300%;
	margin-left:39%;
}
#btnAjouterAnimal:hover
{
	background-color:#FA5882;
	color:white;
}
#btnAjouterAnimal:active
{
	background-color:#FE2E64;
	color:white;
}
.champtexte
{
	margin-left:15px;
	width:250px;
	height:20px;
	text-align:center;
}
.boutonFormulaire
{
	text-align:center;
	width:124px;
	height:25px;
}
.boutonFormulaire:hover
{
	background-color:#A4A4A4;
	color:white;
}
.boutonFormulaire:active
{
	background-color:gray;
	
}
.formulaire legend
{
	font-size:150%;
	
	font-family:police;
	text-align:center;
}
.formulaire span
{
	font-family:policeformulaire;
	
	font-size:110%;
	
}
.formulaire input
{
	border:1px gray solid;
	border-radius:3px;
	
}
td
{
	height:28px;
}
form
{
	text-align:left;
}
#millieu
{
	margin-left:32%;
}
#ajAnimAnnuler
{
	/*margin-left:142px;*/
}
#retourAnimalAdm
{
	height:90px; width:200px;
	border:2px gray solid;
	border-radius:5px;
	background-color:#D0A9F5;
	/*background-color:#F7819F;*/
	font-family:policeformulaire;
	font-size:200%;
	margin-left:40%;
}