body
{
	margin:0;
	padding:0;
	background-color:#D8F781;
}
#rectangle
{
	/*position: absolute;*/
	top:203px;

	width:100%;
	height:120px;
	/*border: 1px gray solid;*/
	background-color:#088A29;
}

@font-face
{
	font-family: "policeformulaire"; src: url('polices/Cardenio Modern Bold.ttf');
	
	
}

@font-face
{
	font-family: "police"; src: url('Big_Bottom_Typeface_Normal.ttf');
	
}
#voicinosarticles
{

	text-align:center;
	color:white;
	font-size:200%;
	font-family:police;
}



.formulaire
{
	margin-top:2%;
	
}
.formulaire legend
{
	font-size:150%;
	
	font-family:police;
	text-align:center;
}
.formulaire span
{
	font-family:policeformulaire;
	
	font-size:110%;
	
}
.formulaire input
{
	border:1px gray solid;
	border-radius:3px;
	
}
.champtexte
{
	margin-left:15px;
	width:250px;
	height:20px;
	text-align:center;
}
.boutonFormulaire
{
	text-align:center;
	width:124px;
	height:25px;
}
.boutonFormulaire:hover
{
	background-color:#A4A4A4;
	color:white;
}
.boutonFormulaire:active
{
	background-color:gray;
	
}



#retourconnexion
{
	position:fixed;
	bottom:5px;
	left:5px;
	height:130px; width:130px;
	border:2px gray solid;
	border-radius:5px;
	background-color:lightgreen;
	font-family:policeformulaire;
	font-size:300%;
}
#retourconnexion:hover
{
	background-color:#04B45F;
	color:white;
}
#retourconnexion:active
{
	background-color:green;
	color:white;
}