body
{
	margin:0;
	padding:0;
	background-color:#D8F781;
}
@font-face
{
	font-family: "police"; 	src: url('Big_Bottom_Typeface_Normal.ttf');
}
select
{
	-webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.article
{
	margin-top:4px;
	margin-bottom:20px;
	padding:0;
	padding:0;
	
	
	width:205px;
	height:185px;
	
	border:2px green solid;
	
	border-radius:3px;
	
	background-color: lightgray;
	font-family:arial;
	/*vertical-align: middle;*/
	
}
.flex-container
{
	display: flex;
	flex-direction: row;
}
.boite
{
	padding : 5px;
	font-family:Arial;
	font-size:110%;
}
.imageArt
{
	position:relative;
	width:20px;height:20px;border-width:2px;border-color:green;border-style:solid;
	/*border-radius:3px;*/
	
}

.commentaireHide
{
	display:none;
}


.ajoutercommentaire
{
	width:205px;
	height:185px;
	/*border:2px #F2F5A9 solid;*/
	/*padding:1px;*/
	border-radius:3px;
	margin-left:3px;
	background-color: #F2F5A9;
	font-family:arial;
	vertical-align: middle;
}
.boutonFleche
{
	margin-top:28px;
	margin-left:5px;
	width:9px;
	height:183px;
	border:2px lightgray solid;
	padding:1px;
	border-radius:3px;
	cursor:pointer;
	
	background-color: #C6C1C6;
}
.boutonFleche:hover
{
	color:white;
	border-color:gray;
	background-color: gray;
}
.fleche
{
	margin-top:80px;
	font-size:120%;
	font-family:Comic Sans MS ;
}
.mepFleche
{
	margin-top:38px;
	width: 15px;
}
.article_commentaire
{
	display: flex;
    flex-direction: row;
	margin-left: 4%;
}
.style_commentaire
{
	margin-top:4px;
	margin-bottom:20px;
	padding:0;
	padding:0;
	width:205px;
	height:185px;
	border:2px green solid;
	border-radius:3px;
	background-color: lightgray;
	font-family:arial;
	/*
	padding-left:20px;
	padding-right:20px;
	*/
}
#mozaique
{
	/*position: absolute;*/
	top:33px;

	width:100%;
	height:220px;
	/*border: 1px gray solid;*/
	background-image: url(animaux.png);
	/*background-attachment: fixed;*/
	background-position: top;
}
#rectangle
{
	/*position: absolute;*/
	top:203px;

	width:100%;
	height:220px;
	/*border: 1px gray solid;*/
	background-color:#088A29;
}
#voicinosarticles
{

	text-align:center;
	color:white;
	font-size:200%;
	font-family:police;
}



#liste
{
	width:300px;
	height:60px;
	border-radius:8px;
	border-width:1px;
	text-align:center;
	font-size:52%;
}
.option{text-align:center;}


